
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-recharge">
                <div class="panel-body">
                    <h2 class="page-header">{:__('添加仓库')}</h2>
                    <div class="alert alert-info-light">
                        您提交的仓库仅自己可用<br>
                        如果您添加某个仓库后客户端异常请自行删除<br>
                    </div>
                    <div class="clearfix"></div>
                    <form action="{:url('edit')}" method="post">
                        <input name="id" type="hidden" value="{$editStore.id}">
                        <h3>仓库名称</h3>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                                <label>
                                    <input name="name" type="text" class="form-control" data-rule="" placeholder="请输入仓库名称" value="{$editStore.name}">
                                </label>
                            </div>
                        </div>
                        <h3>仓库链接</h3>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                                <label>
                                    <input name="url" type="text" class="form-control" data-rule="" placeholder="完整的URL链接" value="{$editStore.url}">
                                </label>
                            </div>
                        </div>
                        <div class="row row-recharge" style="margin:20px -15px 0 -15px;">
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                                <input type="submit" class="btn btn-success btn-recharge btn-block"
                                    value="{:__('提交')}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>